@media (max-width: 980px) {
  display: none;
}

body {
  height: 700px;
  background: linear-gradient(135deg, #ffcc66 , #FF9933 70%, #FF9900);

}

.header {
  h1 {
    display: inline-block;
    margin-left: 200px;
    font-family: Verdana;
    color: #CC0000;
    text-shadow: 3px 3px gray;

  }

  h2 {
    display: inline-block;
    margin-left: 5px;
    color: gray;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 500;
  }
}

.input {
  h1 {
    font-size: 20px;
    font-family: Verdana;
    // text-shadow: 2px 2px gray;
    display: inline-block;
    margin-left: 250px;
  }
  input {
    width: 460px;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    margin-left: 20px;
  }
  p {
    margin-left: 410px;
    margin-top: 1px;
    margin-bottom: 20px;
    color: gray;
    font-family: Verdana;
    font-size: 13px;
  }
}

.submit {
  input {
  font-family: Verdana;
  font-weight: bold;
  margin-left: 400px;
  border: 4px solid gray;
  background-color: #CC0000;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  }
}
img {
  height: 200px;
  width: 200px;
}
h3 {
  display: inline-block;
  font-size: 50px;
}
p {
  display: inline-block;

}
i {
  color: red;
  float: right;
}
a {
  color: blue;
  text-decoration: none;
}
